#body1
{
    margin-left:0px;  margin-top:0px;



}




.submit
{


    width: 100%;

    margin-bottom: 10%;


}






.input-group{font-family: sans-serif;
    width: 100%;

    margin: 5px;
    border-radius: 30px;

    border-color: black;

}


input{font-family: sans-serif;
    width: 80%;


    border-radius: 30px;

    border-color: black;
    padding-left: 10%;
    padding-right: 10%;

}


.error

{

    color: red;
    font-size: 15px;

}

td,th
{


    padding: 10px;
}




table
{
   

    width: 100%;    
}
@media 
    only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px)  {



        table
        {

            width: 100%;    
        }

        /* Force table to not be like tables anymore */
        tr { 
            display: block; 
            padding: 0px;  

            margin-bottom: 10px;
        }
        td { 
            padding: 0px; 
            display: block; 

        }

        /* Hide table headers (but not display: none;, for accessibility) */
        thead tr { 
            position: absolute;
            top: -9999px;
            left: -9999px;
        }



        td { 
            /* Behave  like a "row" */
            position: relative;
        }



        td:before { 
            /* Now like a table header */
            margin-right: 6%;
            margin-left: 2%;
        }





        .submit
        {


            width: 100%;




        }

        /*
        Label the data
        */
        td:nth-of-type(1):before { content: "Name:"; }
        td:nth-of-type(3):before { content: "Email:"; }
        td:nth-of-type(2):before { content: ""; }
        td:nth-of-type(4):before { content: ""; }
        td:nth-of-type(5):before { content: "Contact:"; }


}















