<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
      <a class="navbar-brand">LOGO</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">

      <ul class="nav navbar-nav navbar-right dropdown ">
        <li>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span> Your Account <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a>{{email}}</a></li>
            <li><a routerLink="/index"><span class="glyphicon glyphicon-off"></span> LOGOUT</a></li>

          </ul>
        </li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a>Home</a></li>
      </ul>

    </div>
  </div>
</nav>
<div class="container" id="body1">

  <div class="row">

    <nav class="col-sm-2">
      <div class="well" id="left_nav">
        <ul class="nav nav-pills nav-stacked">
          <li class="active"><a href="">Overview</a></li>
          <li><a>Reports</a></li>
          <li><a>Analytics</a></li>
          <li><a>Export</a></li>
          <li><a>Nav item again</a></li>
          <li><a>One more nav</a></li>
          <li><a>Another nav item</a></li>

          <li><a>Nav item</a></li>
          <li><a>Nav item again</a></li>
          <li><a>One more nav</a></li>
          <li><a>Another nav item</a></li>
          <li><a>More navigation</a></li>
        </ul>

      </div>
    </nav>

    <div class="col-sm-10">

      <div class="row">
        <div class="col-sm-12 text-center ">

          <label><h3><i>Add New Customer</i></h3></label>
          <div class="row">
			    <div class="alert alert-danger" *ngIf="errorMessage!=0" >{{errorMessage}}</div>
            <form #addCustomer="ngForm" (ngSubmit)="onSubmit(addCustomer.value)" novalidate>
              <div class="col-sm-3">


                <div class="input-group">

                  <input type="text" class="form-control" #customerNameRef="ngModel" minlength="4" required placeholder="Customer Name" name="customerName" [(ngModel)]="customerName"></div>
                <!--error div-->
                <div *ngIf="customerNameRef.errors && (customerNameRef.dirty||customerNameRef.touched)">
                  <span [hidden]="!customerNameRef.errors.minlength" class="error">please enter atleast 4 characters</span>

                </div>
              </div>
              <div class="col-sm-3">
                <div class="input-group">

                  <input type="text" class="form-control" #customerEmailRef="ngModel" required placeholder=" Customer Email" pattern="^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$" name="customerEmail" [(ngModel)]="customerEmail">
                </div>
                <!--error div-->
                <div *ngIf="customerEmailRef.errors && (customerEmailRef.dirty||customerEmailRef.touched)">
                  <span [hidden]="!customerEmailRef.errors.pattern" class="error">please enter valid email</span>
                </div>
              </div>


              <div class="col-sm-3">
                <div class="input-group">

                  <input type="text" class="form-control" maxlength="10" #customerContactRef="ngModel" required placeholder="Customer Contact " pattern="^[0-9]{10,}$" name="customerContact" minlength="9" [(ngModel)]="customerContact">
                </div>
                <!--error div-->
                <div *ngIf="customerContactRef.errors && (customerContactRef.dirty||customerContactRef.touched)">
                  <span [hidden]="!customerContactRef.errors.pattern" class="error">Invalid Contact Number</span>
                </div>
              </div>

              <div class="col-sm-3"> <button type="submit" [disabled]="!addCustomer.valid" class="btn btn-primary">ADD CUSTOMER</button> </div>
            </form>

          </div>
          <h3><i id="caption"  >Customer List</i></h3>
        </div>
        <div class="col-sm-12  ">


          <table>


            <thead>
              <tr>
                <th>{{List[0].customerName}}
                  <th>
                    <th>{{List[0].customerEmail}}
                      <th>
                        <th>{{List[0].customerContact}}
                          <th>

              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let customer of  customerList">
                <td>{{customer.customerName}}
                  <td>
                    <td>{{customer.customerEmail}}
                      <td>
                        <td>{{customer.customerContact}}
                          <td>
                            <td><button type="submit" (click)="onDelete(customer)" class="btn btn-primary  submit ">DELETE</button>
                              <td>
              </tr>


            </tbody>

          </table>
        </div>



      </div>
    </div>


  </div>
</div>
